body {
   /* background-image: url(https://cdn.bulbagarden.net/upload/e/e8/700Sylveon.png); */
}

h1 {
    float: center;
    font: georgia, sans-serif;
    text-align: center;
    font-size: 100px;
    color: grey;
    box-shadow: 10px 10px 10px 10px #808080;
}

h2 {
    text-align: center;
}

p {
  font: center;
  color: grey; 
  box-shadow: 5px 5px 5px #808080;
  padding: 30px;
}


li {
    text-align: center;
}