body {
    background-image: url(https://cdn.bulbagarden.net/upload/e/e8/700Sylveon.png);
   
}

h1 {
    background-color: grey;
    opacity: 0.5;
    float: center;
    font: georgia, sans-serif;
    text-align: center;
    font-size: 100px;
    color: white;
    box-shadow: 10px 10px 10px 10px #808080;
}

h2 {
    background-color: grey;
    opacity: 0.5;
    color: white;
    font-size: 45px;
    font: center;
    text-align: center;
}

p {
  background-color: grey;
  opacity: 0.5;
  font: center;
  color: white; 
  box-shadow: 5px 5px 5px #808080;
  padding: 5px;
}


li {
    text-align: center;
}

ol {
    color: white;
    background-color: grey;
    opacity: 0.5;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: inline-block center;
    text-align: center;
    font-size: 25px;
}

.one {
    font-size: 40px;
    font: bold;
    
}